<div id="home">
	<div id="welcome">
		<h4>Welcome!</h4>
		<span class="glyphicon glyphicon-remove" id="exit_welcome"></span>
		<p>
			We have taken the liberty to stock your pantry with some basic ingredients. Feel free to add/remove ingredients according to what you have in stock.<br>
			Bon Appétit!
		</p>
	</div>
	<div id="pantry_wrapper">
		<% if logged_in? %>
			<%= render partial: "user_pantry" %>
		<% else %>
			<%= render partial: "pantry" %>
		<% end %>
	</div>
	<div class="pantry_button">
		<h2>&darr; Open Your Pantry &darr;</h2>
	</div>
	<div class="loading_results">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
	<div class="grid" id="search_results"></div>
</div>

