<div id="home">
	<div id="pantry_wrapper">
		<% if logged_in? %>
			<%= render partial: "user_pantry" %>
		<% else %>
			<%= render partial: "pantry" %>
		<% end %>
	</div>
	<div class="pantry_button">
		<h2>&darr; Open Your Pantry &darr;</h2>
	</div>
	<div class="grid" id="search_results">
	</div>
</div>