<div id="home">
	<div id="pantry_wrapper">
		<% if logged_in? %>
			<%= render partial: "user_pantry" %>
		<% else %>
			<%= render partial: "pantry" %>
		<% end %>
	</div>
	<div class="pantry_button">
		<h2>&darr; Open Your Pantry &darr;</h2>
	</div>
	<div class="grid" id="search_results"></div>
	<div class="recipe_modal">
		<div class="recipe_header">
			<div class="recipe_title">
				<h3>Yummy Recipe</h3>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="recipe_body">
			<ul>
				<!-- <li>jaf akdfjnv adfkjna kjafndv</li>
				<li>akfdj afkj vkjnafv kjankdfj  vkajnkfjv akjfnv</li>
				<li>akjfn akjfn akjvouer</li>
				<li>akjnavker akerjnvka akerjnv  kenkjeanv aekjrv</li>
				<li>akjnr akerjnvdfvka akerjnv aekjrv</li>
				<li>akjvker akerjnv akfjnvtien kenkjeanv aekjrv</li> -->
			</ul>
			<a href="#">
				<p>Click here to view the instructions</p>
			</a>
		</div>
		<div class="recipe_favorite">
			<p>Save Recipe For Later</p>
		</div>
	</div>
</div>
<div class="modal_shadow"></div>
