<div id="home">
	<div id="pantry_wrapper">
		<% if logged_in? %>
			<%= render partial: "user_pantry" %>
		<% else %>
			<%= render partial: "pantry" %>
		<% end %>
	</div>
	<div class="pantry_button">
		<h2>&darr; Open Your Pantry &darr;</h2>
	</div>
	<div class="loading_results">
		<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
	<div class="grid" id="search_results"></div>
</div>
<div class="modal_shadow"></div>
