<div id="home">
	<div id="pantry_wrapper">
		<% if logged_in? %>
			<%= render partial: "user_pantry" %>
		<% else %>
			<%= render partial: "pantry" %>
		<% end %>
	</div>
	<div class="pantry_button">
		<h2>Open Your Pantry</h2>
		<span class="glyphicon glyphicon-menu-down"></span>
	</div>
	<div class="grid" id="search_results">
	  <!-- <div class="grid-item">
	  	<div class="grid-title">
	  		<h3>Recipe title</h3>
	  	</div>
	  	<div class="grid-img">
	  		<img src="http://static.food2fork.com/spanishrice266x20067fd8a21.jpg">
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="grid-title">
	  		<h3>Recipe title</h3>
	  	</div>
	  	<div class="grid-img">
	  		<img src="http://static.food2fork.com/6947892324_031f68a3118ce3.jpg">
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="grid-title">
	  		<h3>Recipe title</h3>
	  	</div>
	  	<div class="grid-img">
	  		<img src="http://static.food2fork.com/1002946b209.jpg">
	  	</div>
	  </div>
	  <div class="grid-item">
	  	<div class="grid-title">
	  		<h3>Recipe title</h3>
	  	</div>
	  	<div class="grid-img">
	  		<img src="http://static.food2fork.com/6079713324.jpg">
	  	</div>
	  </div> -->
	</div>
</div>