// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue-color: #0662A6;
$gold-color: #E49C38;
$white-color: #EBE6E1;
$green-color: #008E53;
$pink-color: #DF4977;
$orange-color: #DC2C22;

body {
	margin: 0;
	background: $white-color;
	color: $gold-color;
	font-family: 'Arvo', serif;
}

/* === NAVBAR === */

#logo_nav {
	height: 65px;
	background: $green-color;
}

#logo_link {
	color: $white-color;
	text-shadow: 1px 1px $gold-color;
}

#logo_link:hover {
	color: $white-color;
}

#logo_nav h1 {
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 2.6em;
	display: inline-block;
}

#logo_nav h1 span{
	font-style: italic;
	font-weight: none;
}

.dropdown {
	display: inline-block;
	margin-right: 2px;
	float: right;
	position: relative;
}

#dropdownMenu1 {
	background: none;
	border: none;
	font-size: 2.2em;
	margin-top: 8px;
	color: $white-color;
}

#dropdownMenu1:active {
	outline: none;
	box-shadow: none;
}

#hamburger {
	text-shadow: 1px 1px $gold-color;
}

#login_dd_form {
	text-align: center;
	margin-bottom: 20px;
}

#dd_login {
	display: block;
	width: 90%;
	margin: 25px auto;
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 2px dotted $green-color;
	color: $gold-color;
}

::-webkit-input-placeholder {
    color:$gold-color;
}

::-moz-placeholder {
    color:$gold-color;
}

::-ms-placeholder {
    color:$gold-color;
}

::placeholder {
    color:$gold-color;
}


#dd_login:focus {
	outline:none;
	border-bottom:
	2px solid $green-color;
}

#dd_login_submit {
	font-size: 1.2em;
	width: 100px;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	background: $green-color;
	color: $white-color;
	text-shadow: 1px 1px $gold-color;
	box-shadow: 1px 1px $gold-color;
}

#dd_login_submit:hover {
	background: $gold-color;
	text-shadow: 1px 1px $green-color;
	box-shadow: 1px 1px $green-color;
}

#dd_login_submit:focus {
	outline: none;
}


/* ==== ROOT - SESSIONS#NEW ==== */

#landing_shadow {
	position: fixed;
	top: 0;
	background: $gold-color;
	z-index: 100;
	width: 100%;
	height: 100%;
}

#landing_box {
	z-index: 200;
	background: $white-color;
	border: 5px solid $green-color;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	position: fixed;
	width: 93%;
	max-width: 500px;
	margin: 20px auto;
	top: 20px;
	left: 0; right: 0;
	color: #393233;
	padding: 0 5px;
}

#landing_box #logo_link {
	text-align: center;
	color: $green-color;
}

#landing_box #logo_link:hover {
	text-decoration: none;
}

#landing_box h1 {
	font-weight: bold;
	font-size: 4em;
}

#landing_box h1 span{
	font-style: italic;
	font-weight: none;
}

#landing_box form {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#login_username, #login_pass {
	display: block;
	width: 90%;
	margin: 25px auto;
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 2px dotted $green-color;
	color: $gold-color;
}

#login_username:focus, #login_pass:focus {
	outline:none;
	border-bottom: 2px solid $green-color;
}

#login_username::-webkit-input-placeholder {
   color: $gold-color;
}

#login_pass::-webkit-input-placeholder {
   color: $gold-color;
}

#login_button {
	font-size: 1.2em;
	width: 100px;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
	background: $green-color;
	color: $white-color;
	text-shadow: 1px 1px $gold-color;
	box-shadow: 1px 1px $gold-color;
}

#login_button:hover {
	background: $gold-color;
	text-shadow: 1px 1px $green-color;
	box-shadow: 1px 1px $green-color;
}

#login_button:focus {
	outline: none;
}

#landing_box p {
	margin-top: 25px;
	text-align: center;
}

#landing_box p a {
	color: $gold-color;
}

#guest {
	float: right;
}

/* ====== RECIPES#INDEX ====== */

#home {
  display: none;
}

// welcome message ---

#welcome {
	background: $gold-color;
	color: $white-color;
	padding: 8px 8px;
}

#welcome h4 {
	margin: 0;
	display: inline-block;
	text-shadow: 1px 1px $green-color;
}

#welcome span {
	float: right;
	margin-right: 4px;
	text-shadow: 1px 1px $green-color;
}

#welcome span:hover {
	color: $green-color;
	text-shadow: 1px 1px $white-color;
}

#welcome p {
	margin: 0;
}

// pantry sections

.clear {
	clear: both;
}

.pantry_section {
	width: 100%;
	display: none;
	border-bottom: 1px solid white;
}

.pantry_header {
	padding-left: 8px;
	height: 38px;
	margin: 0;
	color: #393233;
}

.pantry_header h2 {
	font-size: 1.3em;
	cursor: pointer;
}

.pantry_list {
	background: white;
	display: none;
}

.pantry_list ul {
	margin: 0;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 8px;
}

.pantry_list ul li {
	display: inline-block;
	font-size: 1.1em;
	margin: 5px 5px 0 0;
	background: #393233;
	color: $white-color;
	border-radius: 4px;
	padding: 0 5px;
}

.delete_ing:hover {
	color: $orange-color;
}

.col-lg-6 {
	padding-left: 0;
	padding-bottom: 12px;
	max-width: 450px;
}

.pantry_form {
	padding-left: 8px;
}

.pantry_input {
	margin-top: 10px;
	margin-bottom: 5px;
	height: 35px;
}

.pantry_input:focus {
	border-color: $gold-color;
	box-shadow: none;
}

.add_ing {
	margin-top: 9px;
	margin-bottom: 5px;
	background: #393233;
	color: $white-color;
	height: 35px;
	padding-left: 8px;
	padding-right: 8px; 
	cursor: pointer;
}

.search_button {
	padding-left: 8px;
	border-bottom: 1px solid white;
}

.search_button h2 {
	background: $gold-color;
	color: $white-color;
	padding: 5px 8px;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	box-shadow: 1px 1px $green-color;
	text-shadow: 1px 1px $green-color;
}

.search_button h2:hover {
	background: $green-color;
	box-shadow: 1px 1px $gold-color;
	text-shadow: 1px 1px $gold-color;
}

.search_button span {
	color: $green-color;
	margin: 20px 15px;
	font-size: 1.7em;
	float: right;
	cursor: pointer;
}

.pantry_button {
	background: $gold-color;
	color: $white-color;
	text-shadow: 1px 1px $green-color;
	text-align: center;
	display: none;
}

.pantry_button h2 {
	font-size: 1.4em;
	margin-top: 8px;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
}

// loading icon

.loading_results {
	display: none;
	font-size: 1.8em;
	color: $green-color;
	text-shadow: 1px 1px $gold-color;
	margin-top: 40px;
	text-align: center;
}

/*SEARCH RESULTS*/

/* ===== grid ===== */
.grid {
	// margin-left: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ===== grid-item ===== */
.grid-item {
	margin: 10px 5px;
	background-repeat: no-repeat;
	background-size: cover;
  width: 98%;
  height: 500px;
  min-height: 350px;
  float: left;
  cursor: pointer;
  border: 5px solid $pink-color;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.grid-item:hover {
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7), 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.grid-title {
	background: rgba(228,156,56,0.8);
	color: $white-color;
}

.grid-title h3 {
	padding-left: 5px;
	text-shadow: 1px 1px rgba(0,142,83,0.7);
}

// ==== recipe modal ====

.recipe_modal {
	display: none;
	z-index: 200;
	position: fixed;
	width: 365px;
	margin: 20px auto;
	top: 20px;
	left: 0; right: 0;
	color: #393233;
	background: $white-color;
	border: 5px solid $pink-color;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.recipe_header {
	height: 260px;
	background-repeat: no-repeat;
	background-size: cover;
}

.recipe_title {
	background: rgba(228,156,56,0.8);
	color: $white-color;
}

.recipe_title h3 {
	max-width: 90%;
	display: inline-block;
	padding: 5px 5px;
	margin:0;
}

.recipe_title span {
	font-size: 1.2em;
	float: right;
	margin: 9px 6px;
	color: $green-color;
	cursor: pointer;
}

.recipe_body ul {
	margin-top: 8px;
	padding-left: 25px;
	padding-right: 5px;
}

.recipe_body a {
	color: $blue-color;
	text-align: center;
}

.recipe_favorite {
	background: $pink-color;
	text-align: center;
}

.recipe_favorite p {
	padding-top: 3px;
	color: $white-color;
	margin: 0;
	cursor: pointer;
}

.recipe_favorite p:hover {
	text-shadow: 1px 1px #393233;
}

.modal_shadow {
	display: none;
	position: fixed;
	top:0;
	background: rgba(0,142,83,0.9);
	width: 100%;
	height: 100%;
	z-index: 100;
}

// show#user - list of favorited recipes

#profile {
	display: none;
}

#profile_header {
	background: $gold-color;
	color: $white-color;
	text-shadow: 1px 1px $green-color;
	text-align: center;
}

#profile_header h2 {
	margin-top: 0;
	padding: 5px 0;
	font-size: 1.8em;
	width: 100%;
}

.recipe_saved {
	margin: 15px 5px;
  width: 365px;
  float: left;
  border: 5px solid $pink-color;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

.saved_header {
	background-repeat: no-repeat;
	background-size: cover;
}

.saved_img {
	display: none;
}

.saved_body {
	color: #393233;
}

.recipe_favorite a:hover {
	text-decoration: none;
}



// RESPONSIVENESS

@media (min-width: 435px) {
	.grid {
		margin: 5px 3px;
	}
	.grid-item {
		width: 365px;
	}
	.recipe_modal {
		width: 500px;
	}
	.recipe_header {
		height: 350px;
	}
} 

@media (min-width: 1024px) {
	#pantry_wrapper {
		background: $white-color;
		position: absolute;
		width: 330px;
		height: 595px;
		left: 0;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
	}

	.search_button {
		border: none;
	}

	.search_button span {
		display: none;
	}

	.recipe_modal {
		top: 3px;
	}

	.pantry_button {
		display: none;
	}

	.grid {
		float: right;
		width: 67%;
	}

	.grid-item {
		width: 320px;
	}

	.saved_grid {
		width: 100%;
	}

	.loading_results {
		width: 70%;
		float: right;
	}
}

// overwriting bootstrap media query
@media (min-width: 1200px) {
	.col-lg-6 {
		width: 100%;
	}
}

@media (min-width: 1225px) {
	.grid {
		width: 73%;
	}

	.loading_results {
		width: 75%;
	}

	.grid-item {
		width: 300px;
	}

	.saved_grid {
		width: 100%;
	}
}